<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869303010677-hkvf396s0e2g9erfbpki3r6crbi6dqkb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869303010677-hkvf396s0e2g9erfbpki3r6crbi6dqkb</string>
	<key>API_KEY</key>
	<string>AIzaSyDE5l18BKzwHP42EW42LZ9pwrSeVhQcnI0</string>
	<key>GCM_SENDER_ID</key>
	<string>869303010677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zomatoMeals.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>zomaato-a64ad</string>
	<key>STORAGE_BUCKET</key>
	<string>zomaato-a64ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869303010677:ios:2be47aee5de9d3dd6aff3c</string>
</dict>
</plist>